@model Groubel.FrontEnd.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="col-xs-12" id="middle">
   @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
   {
        <div class="container" id="middle_container_login">
            <div class="row">
                <div class="col-xs-12 login_title">
                    <h2>Welcome to <i class="fa fa-check-circle" aria-hidden="true"></i> groobl</h2>
                </div>
                <div class="col-xs-12 login_title">
                    <h2>Enter New Password</h2>
                </div>
                <form data-toggle="validator" role="form" action="" method="post">
                    <div class="col-xs-12">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "alerta" })
                        @Html.HiddenFor(model => model.Code)
                    </div>
                    <div class="col-xs-12 login_inputs_wrp">
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "email" })
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "new password" })
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "confirm new password" })
                        </div>
                    </div>
                    <div class="col-xs-12 login_buts_wrp">
                        <button class="btn btn-warning join_bt">Reset Password</button>
                    </div>
                </form>
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
